:root {
  --modal-content-gap: 10px;
  --nb-modal-content-img: 5;
}
#modal-administration {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
#modal-administration section {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-wrapper {
  width: 60vw;
  max-height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
  padding: 50px 8vw 0 8vw;
  border-radius: 10px;
}

#close-modal-button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: transparent;
  font-size: 24px;
}
.modal-title {
  font-size: 26px;
  font-family: Work Sans;
  color: black;
  margin-bottom: 30px;
  font-weight: 400;
}
#modal-content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--modal-content-gap);
  padding: 0 0 30px 0;
  border-bottom: solid 1px #a7a7a7;
  overflow-y: auto;
  scrollbar-width: thin;
  max-height: calc(100vh - 200px);
}

#modal-content-delete-work #modal-content > article {
  position: relative;
  width: calc(
    (100% / var(--nb-modal-content-img)) -
      (
        (var(--nb-modal-content-img) - 1) * var(--modal-content-gap) /
          var(--nb-modal-content-img)
      )
  );
}
#modal-content img {
  max-width: 100%;
  object-fit: contain;
}
#modal-content article button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  border-radius: 3px;
  padding: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-trash-can {
  display: inline-block;
  color: white;
  width: fit-content;
}
.modal-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 30px 0;
}
.modal-controls button {
  height: 34px;
}
#show-modal-content-add-work-button {
  background-color: #1d6154;
  border-radius: 60px;
  color: white;
  border: none;
  padding: 5px 30px;
}

#return-to-modal-content-delete-work-button {
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  background-color: transparent;
  font-size: 21px;
}
button .photo {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}
.fa-image {
  color: #b9c5cc;
  font-size: 76px;
}
#container-ajout-photo {
  height: 169px;
  background-color: #e8f1f6;
  border-radius: 3px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#photo-file-loader-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modal-content-add-work {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

#modal-content-add-work form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
input[type="file"] {
  display: none;
}

.add-file {
  color: #306685;
  font-weight: bold;
  background-color: #cbd6dc;
  border-radius: 50px;
  height: 36px;
  width: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#modal-content-add-work button p {
  font-size: 10px;
}
#modal-content-add-work label {
  font-family: Work Sans;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0 0 0;
}
#modal-content-add-work input {
  height: 51px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
}
#modal-content-add-work .modal-controls {
  margin: 15px 0 0 0;
  border-top: solid 1px #a7a7a7;
}
#modal-content-add-work .valider {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border: none;
  background-color: #1d6154;
  color: white;
}
#modal-content-add-work .valider:disabled {
  background-color: #a7a7a7;
}
#modal-select-filtres {
  height: 51px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
}
#file-preview {
  height: 100%;
}
